<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <!--&lt;!&ndash;配置handle的Url&ndash;&gt;
    <bean name="/items/list" class="com.mybatis.controller.ItemsController" id="itemsController"/>
    <bean class="com.mybatis.controller.ItemsHttpRequestController" id="httpRequestController"/>

    &lt;!&ndash;非注解的映射器&ndash;&gt;
    &lt;!&ndash;配置HandleMapping映射器&ndash;&gt;
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <prop key="/items/list1">itemsController</prop>
                <prop key="/items/list2">itemsController</prop>
                <prop key="/items/list3">httpRequestController</prop>
            </props>
        </property>
    </bean>
    <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>
    &lt;!&ndash;end&ndash;&gt;

    &lt;!&ndash;非注解的适配器&ndash;&gt;
    &lt;!&ndash;配置HandleAdapter适配器&ndash;&gt;
    <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>
    <bean class="org.springframework.web.servlet.mvc.HttpRequestHandlerAdapter"/>-->
    <!--end-->

    <!-- 对于注解的Handler可以单个配置 实际开发中建议使用组件扫描 -->
    <!--<bean class="com.mybatis.controller.ItemsAnnotationController"/>-->
    <!-- 可以扫描controller、service、... 这里让扫描controller，指定controller的包 -->
    <context:component-scan base-package="com.mybatis.controller"/>


    <!--使用注解的映射器与适配器-->
    <!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"/>-->

    <!-- 使用 mvc:annotation-driven代替上边注解映射器和注解适配器配置
        mvc:annotation-driven默认加载很多的参数绑定方法， 比如json转换解析器就默认加载了，
        如果使用mvc:annotation-driven不用配置上边的RequestMappingHandlerMapping和RequestMappingHandlerAdapter
        实际开发时使用mvc:annotation-driven
    -->
    <mvc:annotation-driven /><!--conversion-service="conversionService"/>-->

    <!-- 自定义参数绑定 -->
    <!--<bean class="org.springframework.format.support.FormattingConversionServiceFactoryBean" id="conversionService">
        &lt;!&ndash; 转换器 &ndash;&gt;
        <property name="converters">
            <list>
                &lt;!&ndash; 日期类型转换 &ndash;&gt;
                <bean class="com.mybatis.controller.convert.CustomConvert"/>
            </list>
        </property>
    </bean>-->

    <!--配置ViewResolver视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/view/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
</beans>